*{
    margin: 0;
    padding: 0;
}

body{
    background: #b67b7b;
}

#site{
    width: 1350px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 100%;
    height: 1000vh;
    background: #98c96f;
}

header{
    width: 100%;
    height: 45px;
    background: #000000;
    float: left;
    padding: 0;
    position: fixed;
}

#unityicon{
    /* background: #0b45b1; */
    width: 16px;
    height: auto;
    margin-top: 0px;
    float: left;
    margin: 7px 24px 0 174px;
}

header ul{
    margin-top: 8px;
}
header ul li{
    display:inline;
    /* background: red; */
    padding: 5px;
    margin: 0 0 0 10px;
    color: rgb(175, 175, 175);
    font-size: 12.5px;
}

#um{
    width: 150px;
    height: 30px;
    margin: 0 0 0 190px;
    background: #2196F3;
    outline: none;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #F9FBFF;
    border: 0;
    border-radius: 20px;
} 

.icon{
    margin: 100px 0 0 0;
    display: inline;
    color: rgb(255, 255, 255);
}

#icon{
    width: 20px;
    height: auto;
}

#pag1{
    background: #7cb5ff;
    width: auto;
    height: 700px;
}

#texto1{
    margin: 150px 0 0 543px;
    font-size: 100px;
    color: #ffffff;
    font-weight: normal;
}

#dois{
    width: 130px;
    height: 40px;
    margin: 50px 0 0 590px;
    background: #2196F3;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #F9FBFF;
    border: 0;
    border-radius: 20px;
}

.bloco{
        /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.1px);
    -webkit-backdrop-filter: blur(10.1px);
    width: 160px;
    height: 10px;
    margin-left: 5px;
    padding: 5%;
    display: inline-block;
}
#bloco1{
    margin-left: 210px;
    margin-top: 90px;
}
#bloco2{
    margin-top: 40px;
}
#bloco3{
    margin-top: 80px;
}

/* .bloco h2{
    float: left;
} */


#pag2{
    background: #000000;
    width: auto;
    height: 620px;
}

.Bloco{
        background: #141414;
        color: #ffffff;
        width: 160px;
        height: 300px;
        margin-left: 5px;
        margin-top: 60px;
        padding: 5%;
        display: inline-block;
        border-radius: 12px;
}

#Bloco1{
    margin-left: 210px;
}

.Bloco img{
    background: #b42222;
    width: auto;
    height: 130px;
}

#pag2 button{
    width: 130px;
    height: 40px;
    margin-top: 50px;
    background: #2195f300;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #F9FBFF;
    border: 0;
    border-radius: 20px;
    outline: auto;
    outline-color: #2195f3;
}

#pag3{
    background: #461c68;
    height: 600px;
    width: auto;
    /* display: inline; */
    background: url(../img/6.png) no-repeat;
    background-size: cover;
}

#botao3{
    width: 10%;
    height: 40px;
    margin-top: 5%;
    margin-left: 20%;
    float: left;
    outline: none;
    background-color: #14141400;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #f9fbff;
    border: 0;
    border-radius: 20px;
    outline: auto;
    outline-color: #2195f3;
}
.texto{
    width: 30%;
    height: auto;
    float: left;
    color: #ffffff;
    margin-top: 5%;
    margin-left: 4%;
    font-size: medium;
    font-weight: normal;
}
#pag4{
    background: #ffffff;
    height: 350px;
    width: auto;
    padding-bottom: 3%;
}
#pagina4{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 8%;
    text-align: center;
    color: #000000;
    font-size: 50px;
    font-weight: normal;
}
#page4{
    width: 60%;
    height: auto;
    float: left;
    margin-left: 20%;
    text-align: center;
    font-size: 1.4em;
    margin-top: 3%;
    color: #a3a3a3;
}
#pagii4{
    width: 15%;
    height: 40px;
    margin-top: 40px;
    margin-left: 30%;
    background: #2195f300;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(33, 149, 243);
    border: 0;
    border-radius: 20px;
    outline: auto;
    outline-color: rgb(33, 149, 243);
    text-transform: uppercase;
}
#pogi4{
    width: 15%;
    height: 40px;
    margin-top: 50px;
    margin-left: 4%;
    margin-bottom: 5%;
    background: #2195f300;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    border: 0;
    border-radius: 20px;
    outline-color: rgba(33, 149, 243, 0);
    text-transform: uppercase;
}
#pag5{
    background: #ff0000;
    height: 600px;
    width: auto;
    background: url(../img/bleak-sword-dx.jpg) no-repeat;
    background-size: cover;
}
#pagina5{
    width: 30%;
    height: auto;
    float: left;
    color: #ffffff;
    margin-top: 5%;
    margin-left: 4%;
    font-size: 1.5em;
    font-weight: normal;
}
#page5{
    width: 30%;
    height: auto;
    float: left;
    color: #ffffff;
    margin-top: 5%;
    margin-left: 4%;
    font-size: 1.5em;
    font-weight: normal;
}
#pogi5{
    width: 15%;
    height: 40px;
    margin-top: 5%;
    margin-left: 15%;
    float: left;
    background: #2195f300;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 20px;
    outline: auto;
    outline-color: rgb(33, 149, 243);
    text-transform: uppercase;
}


